<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1><%= @user.name %></h1> <br><br>
  <p>Mood: <%= @user.mood %></p> <br>
  <p><%= @user.tickets %></p> <br>
  <p><%= @user.height %></p> <br>
</body>
</html>
